<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">MyFitnessApp</div>
    
    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Workoutgoals</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addworkoutgoal" class="nav-link">Add New Workoutgoal</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/workoutActivities/WorkoutGoal" class="nav-link">View Activities</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addActivity" class="nav-link">Add New Activity</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/register" class="nav-link">Register</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
  
    </ul>
    
    </nav>
    
    </header>