<div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>quantity</th>
      <th>frequency</th>
      <th>id</th>
      <th>percentage</th>
      <th>week</th>
      <th>isSucceeded</th>
      <th>howManyLeft</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngIf="!!workoutgoals">
            <td>{{workoutgoals.goalQuantity}}</td>
            <td>{{workoutgoals.frequency}}</td>
            <td>{{workoutgoals.id}}</td>
            <td>{{workoutgoals.percentage}}</td>
            <td>{{workoutgoals.currentWeek}}</td>
            <td>{{workoutgoals.isSucceeded}}</td>
            <td>{{workoutgoals.howManyLeft}}</td>
            <td><button class="btn btn-danger" (click)="deleteWorkoutGoal(workoutgoals)"> Delete Workoutgoal</button></td>
            </tr>
    </tbody>
      </table>
  
    </div>
   