<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://canvasjs.com/demo/dashboards/assets/bootstrap/bootstrap4-alpha3.min.css">
<div class="container">
	<div class="row m-b-1">
		<div class="col-lg-6 h500">
			<div class="card shadow">
				<h4 class="card-header bg-dark mt-2">Past workout goals and activities</h4>
				<div>
					<div id="workout-chart"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 h500">
			<div class="card shadow">
				<h4 class="card-header bg-dark mt-2">Past sleep goals and activities</h4>
				<div>
					<div id="sleep-chart"></div>
				</div>
			</div>
		</div>
	</div> <!-- row -->
	<div class="row m-b-1">
		<div class="col-lg-6 h500">
			<div class="card shadow">
				<h4 class="card-header bg-dark">Past fruit goals and activities</h4>
				<div>
					<div id="fruit-chart"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 h500">
			<div class="card shadow">
				<h4 class="card-header bg-dark">Past vegetable goals and activitiese</h4>
				<div>
					<div id="veg-chart"></div>
				</div>
			</div>
		</div>
	</div> <!-- row -->
	<div class="row m-b-1">
		<div class="col-lg-6 h500">
			<div class="card shadow">
				<h4 class="card-header bg-dark">Past nature goals and activities</h4>
				<div>
					<div id="nature-chart"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 h500">
			<div class="card shadow">
				<h4 class="card-header bg-dark">Past meditation goals and activities</h4>
				<div>
					<div id="meditation-chart"></div>
				</div>
			</div>
		</div>
	</div> <!-- row -->
</div> <!-- container -->