<h1 mat-dialog-title>Add {{this.data.goaltype}} Goal</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input matInput [(ngModel)]="data.quantity">
  </mat-form-field>
  <mat-form-field *ngIf="this.data.goaltype == 'Workout' || this.data.goaltype == 'Meditation' || this.data.goaltype== 'Nature'">
    <mat-label>Frequency</mat-label>
    <input matInput [(ngModel)]="data.frequency">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Add</button>
</div>