<div class="col-md-6">
    <h2 class="text-center">Add Workoutgoal</h2>
    <form>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="quantity" [(ngModel)]="activity.quantity" placeholder="Quantity" name="quantity" class="form-control" id="quantity">
      </div>
    
      <div class="form-group">
        <label for="goalType">goalType:</label>
        <input [(ngModel)]="activity.goalType" placeholder="GoalType" name="goalType" class="form-control" id="goalType">
      </div>
    
      <button class="btn btn-success" (click)="createActivity()">Create</button>
    </form>
    </div>
        

