<div class="container">
  <div class="row">
    <h1>Hello {{userName}}!</h1>
  </div>
  <div class="row">
<h2>Your Medals</h2>
</div>
<div class="row">
<div *ngFor="let medal of medals">
  <mat-icon aria-hidden="false" class="text-warning p-4"  aria-label="Example home icon">emoji_events</mat-icon>
</div>
</div>

<h2>Your Goals</h2>
<mat-accordion>
  <mat-expansion-panel *ngIf="workoutGoal">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Workout goal
      </mat-panel-title>
      <mat-panel-description>
        {{workoutGoal.goalQuantity}} minutes, {{workoutGoal.frequency}} times a week
      </mat-panel-description>
    </mat-expansion-panel-header>

      <ul class="container" *ngFor="let act of workoutActivities">
        <li class="row" *ngFor="let a of act">
          <p class="col">Activity:  </p> 
          <p class="col"> {{a.quantity}} minutes </p>
          <button class="col offset-8 float-right" mat-button color="primary" (click)="deleteActivity(a.id)">Delete</button>
        </li>
      </ul>
    
    <mat-action-row>
      <button mat-button color="primary" (click)="updateGoal('workoutGoal', workoutGoal)">Update</button>
      <button mat-button color="primary" (click)="deleteGoal('workoutGoal', workoutGoal)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="sleepGoal">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sleep goal
      </mat-panel-title>
      <mat-panel-description>
        {{sleepGoal.goalQuantity}} hours a week
      </mat-panel-description>
    </mat-expansion-panel-header>

      <ul *ngFor="let act of sleepActivities">
        <li *ngFor="let a of act">
          <p>Activity: {{a.quantity}} hours </p>  
          <button class="col offset-8 float-right" mat-button color="primary" (click)="deleteActivity(a.id)">Delete</button>
        </li>
      </ul>
    
    <mat-action-row>
      <button mat-button color="primary" (click)="updateGoal('sleepGoal', sleepGoal)">Update</button>
      <button mat-button color="primary" (click)="deleteGoal('sleepGoal', sleepGoal)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="fruitGoal">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fruit goal
      </mat-panel-title>
      <mat-panel-description>
        {{fruitGoal.goalQuantity}} portions a day
      </mat-panel-description>
    </mat-expansion-panel-header>

      <ul *ngFor="let act of fruitActivities">
        <li *ngFor="let a of act">
          <p>Activity: {{a.quantity}} portions </p> 
          <button class="col offset-8 float-right" mat-button color="primary" (click)="deleteActivity(a.id)">Delete</button> 
        </li>
      </ul>
    
    <mat-action-row>
      <button mat-button color="primary" (click)="updateGoal('fruitGoal', fruitGoal)">Update</button>
      <button mat-button color="primary" (click)="deleteGoal('fruitGoal', fruitGoal)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="vegGoal">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vegetable goal
      </mat-panel-title>
      <mat-panel-description>
        {{vegGoal.goalQuantity}} portions a day
      </mat-panel-description>
    </mat-expansion-panel-header>

      <ul *ngFor="let act of vegActivities">
        <li *ngFor="let a of act">
          <p>Activity: {{a.quantity}} portions </p>  
          <button class="col offset-8 float-right" mat-button color="primary" (click)="deleteActivity(a.id)">Delete</button>
        </li>
      </ul>
    
    <mat-action-row>
      <button mat-button color="primary" (click)="updateGoal('vegGoal', vegGoal)">Update</button>
      <button mat-button color="primary" (click)="deleteGoal('vegGoal', vegGoal)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="natureGoal">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nature goal
      </mat-panel-title>
      <mat-panel-description>
        {{natureGoal.goalQuantity}} minutes, {{natureGoal.frequency}} times a week
      </mat-panel-description>
    </mat-expansion-panel-header>

      <ul *ngFor="let act of natureActivities">
        <li *ngFor="let a of act">
          <p>Activity: {{a.quantity}} minutes </p>  
          <button class="col offset-8 float-right" mat-button color="primary" (click)="deleteActivity(a.id)">Delete</button>
        </li>
      </ul>
    
    <mat-action-row>
      <button mat-button color="primary" (click)="updateGoal('natureGoal', natureGoal)">Update</button>
      <button mat-button color="primary" (click)="deleteGoal('natureGoal', natureGoal)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="meditationGoal">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Meditation goal
      </mat-panel-title>
      <mat-panel-description>
        {{meditationGoal.goalQuantity}} minutes, {{meditationGoal.frequency}} times a week
      </mat-panel-description>
    </mat-expansion-panel-header>

      <ul *ngFor="let act of meditationActivities">
        <li *ngFor="let a of act">
          <p>Activity: {{a.quantity}} minutes </p>  
          <button class="col offset-8 float-right" mat-button color="primary" (click)="deleteActivity(a.id)">Delete</button>
        </li>
      </ul>
    
    <mat-action-row>
      <button color="primary" (click)="updateGoal('meditationGoal', meditationGoal)">Update</button>
      <button color="primary" (click)="deleteGoal('meditationGoal', meditationGoal)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<!--  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">goalQuantity</th>
        <th scope="col">frequency</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngIf="workoutGoal">
            <td>Workout Goal</td>
            <td>{{workoutGoal.goalQuantity}}</td>
            <td>{{workoutGoal.frequency}}</td>
            <button (click)="updateGoal('Workout', workoutGoal)">Update</button>
            <button (click)="deleteGoal('workoutGoal', workoutGoal)">Delete</button>
        </tr>
        <tr *ngIf="meditationGoal">
            <td>Meditation Goal</td>
            <td>{{meditationGoal.goalQuantity}}</td>
            <td>{{meditationGoal.frequency}}</td>
            <button (click)="updateGoal('Meditation', meditationGoal)">Update</button>
            <button (click)="deleteGoal('meditationGoal', meditationGoal)">Delete</button>
        </tr>
        <tr *ngIf="natureGoal">
            <td>Nature Goal</td>
            <td>{{natureGoal.goalQuantity}}</td>
            <td>{{natureGoal.frequency}}</td>
            <button (click)="updateGoal('Nature',natureGoal)">Update</button>
            <button (click)="deleteGoal('natureGoal', natureGoal)">Delete</button>
        </tr>
        <tr *ngIf="sleepGoal">
            <td>Sleep Goal</td>
            <td>{{sleepGoal.goalQuantity}}</td>
            <td></td>
            <button (click)="updateGoal('Sleep', sleepGoal)">Update</button>
            <button (click)="deleteGoal('sleepGoal', sleepGoal)">Delete</button>
          </tr>
          <tr *ngIf="vegGoal">
            <td>Vegetable Goal</td>
            <td>{{vegGoal.goalQuantity}}</td>
            <td></td>
            <button (click)="updateGoal('Vegetable', vegGoal)">Update</button>
            <button (click)="deleteGoal('vegGoal', vegGoal)">Delete</button>
          </tr>
        <tr *ngIf="fruitGoal">
            <td>Fruit Goal</td>
            <td>{{fruitGoal.goalQuantity}}</td>
            <td></td>
            <button (click)="updateGoal('Fruit', fruitGoal)">Update</button>
            <button (click)="deleteGoal('fruitGoal',fruitGoal)">Delete</button>
        </tr>
        </tbody>
    </table>-->
  </div>